/* Global style */

header {
    font-weight: 300px;
    font-family: 'Special Elite' ;
    text-align: center;
}

body {
    
    font-family: 'Special Elite' ;
    text-align: center;
    background-color: lightskyblue;
}

input[type] {
    margin: 10px;
    line-height: 10px;
    background-color: lavender;
    border-style: groove;
    box-sizing: content-box;
    color: blueviolet;
}

input[name] {
    margin: 5px;
}

input[type="button"]:hover {
    color:red;
    border-color: red;
    background-color: lightcoral;


}

option[value="county"]{
    line-height: 10px;
}
    

/* Class-id style */

.box {
    display: flex;
    align-items: center;
    justify-items: center;
}
 #country, #city {
     background-color: lavender;
 }


