$box1Image: '../Images/annie-spratt-Vp_A70Hb45s-unsplash.jpg';
$box2Image:'../Images/annie-spratt-YU66jLwBx3g-unsplash.jpg';
$box3Image: '../Images/bannon-morrissy-4SX_tb0GPQU-unsplash.jpg';
$box4Image: '../Images/trent-bradley-uICqspTDw6k-unsplash.jpg';