h1 {
    font-size: 40px;
    color: Red;
}
.main {
    font-family: Arial;
}
#title {
text-decoration: underline;
}

a[href] {
    text-decoration: none;
}

a[href="https://wantsome.ro"] {
    color: green;
}

a[title="External link"] {
    font-style: italic;
}

a:hover  {
    color: red;
    font-size: 50px;

}


a: :last-child :focus{

}

footer ::after{
    content:"Continut adaugat in CSS"
}

