header {
    height: 200px;
    background: purple;
}

section{
    display: flex;
    width: auto;
    border: solid 2px;
    
}
 nav{ 
     height: 150px;
     width: 400px;
     display: inline-block;
     background-color: blue;

 }


main {
    display: flexbox;
    width: 500px;
    height: 150px;
    background-color: antiquewhite;
   }

.right {

    height: 150px;
    width: 400px;
    background-color: chartreuse;
}
footer {
    height:200px;
    background-color: brown;
}
